@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Anton;
  src: url('/public/fonts/Anton.ttf')
}

.logo {
  position: relative;
  top: -8px;
  font-family: Anton;
  font-size: 32px;
  background: -webkit-linear-gradient(#ccc, #111);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}